<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.soldesk.mapper.BoardErrorReportMapper">
    <resultMap id="errorReportResultMap" type="com.soldesk.vo.BoardErrorReportVO">
        <id column="board_id" property="boardId" />
        <result column="error_type" property="errorType" />
        <result column="related_word" property="relatedWord" />
    </resultMap>

    <insert id="insert">
        insert into board_error_report (board_id, error_type, related_word)
        values (#{boardId}, #{errorType}, #{relatedWord})
    </insert>

    <select id="findByBoardId" resultMap="errorReportResultMap" parameterType="int">
        select board_id, error_type, related_word
        from board_error_report
        where board_id = #{boardId}
    </select>
</mapper>