<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soldesk.mapper.BoardMapper">
    <resultMap id="boardResultMap" type="com.soldesk.vo.BoardVO">
        <id column="board_id" property="boardId" />
        <result column="member_id" property="memberId" />
        <result column="board_title" property="boardTitle" />
        <result column="board_content" property="boardContent" />
        <result column="category_idx" property="categoryIdx" />
        <result column="view_count" property="viewCount" />
        <result column="notice_yn" property="noticeYn" />
        <result column="reg_date" property="regDate" />
        <result column="mod_date" property="modDate" />
        <result column="member_name" property="memberName" />
        <result column="comment_cnt" property="commentCnt" />
    </resultMap>

    <select id="findByCategory" resultMap="boardResultMap">
        select 
            b.board_id, b.board_title, b.board_content, b.category_idx, b.view_count,
            b.notice_yn, b.reg_date, b.member_id, m.role,
            COALESCE(m.member_name, '알 수 없음') as member_name, 
           (select count(*) from comment c 
            where c.board_id = b.board_id and c.del_yn = 'N') as comment_cnt
        from board b
        left join member m 
        on b.member_id = m.member_id
        <where>
            <if test="category != null and category != ''">
                and category_idx = #{category}
            </if>
        </where> 
        order by b.reg_date desc
        limit #{start}, #{count}
    </select>

    <select id="countByCategoryBoard" parameterType="string" resultType="int">
        select count(*)
        from board
        <where>
            <if test="category != null and category != ''">
                and category_idx = #{category}
            </if>
        </where> 
    </select>

    <select id="getBoardStats" resultType="map">
        select count(*) as allBoardCnt,
            sum(case when category_idx = 'NOTICE' then 1 else 0 end) as noticeBoardCnt,
            sum(case when category_idx = 'FREE' then 1 else 0 end) as freeBoardCnt,
            sum(case when category_idx = 'QNA' then 1 else 0 end) as qnaBoardCnt,
            sum(case when category_idx = 'INFO' then 1 else 0 end) as infoBoardCnt,
            sum(case when category_idx = 'REPORT' then 1 else 0 end) as reportBoardCnt
        from board
    </select>

    <insert id="insertBoard" parameterType="com.soldesk.vo.BoardVO" useGeneratedKeys="true" keyProperty="boardId">
        insert into board (member_id, board_title, board_content, category_idx, notice_yn)
        values (#{memberId}, #{boardTitle}, #{boardContent}, #{categoryIdx}, #{noticeYn})
    </insert>

    <select id="selectBoardByBoardId" parameterType="int" resultMap="boardResultMap">
        select b.board_id, b.member_id, b.board_title, b.board_content,
            b.category_idx, b.view_count, b.reg_date, b.mod_date,
            COALESCE(m.member_name, '알 수 없음') as member_name
        from board b
        left join member m on b.member_id = m.member_id
        where b.board_id = #{boardId}
    </select>

    <update id="increaseViewCount">
        update board
        set view_count = view_count + 1
        where board_id = #{boardId}
    </update>

    <update id="updateBoard" parameterType="com.soldesk.vo.BoardVO">
        update board
        set board_title = #{boardTitle}, board_content = #{boardContent}, category_idx = #{categoryIdx}
        where board_id = #{boardId}
    </update>

    <delete id="deleteBoard" parameterType="int">
        delete from board where board_id = #{boardId}
    </delete>

    <select id="findAllForIndex" resultMap="boardResultMap">
        select 
            b.board_id, b.member_id, b.board_title, b.board_content, b.category_idx, 
            b.view_count, b.notice_yn, b.reg_date, b.mod_date, 
            COALESCE(m.member_name, '알 수 없음') as member_name
        from board b
        left join member m 
        on b.member_id = m.member_id
        order by b.reg_date desc
    </select>

    <update id="nullifyMemberId" parameterType="int">
        update board set member_id = null where member_id = #{memberId}
    </update>

    <select id="findByMemberId" resultMap="boardResultMap">
        select b.board_id, b.board_title, b.category_idx, b.reg_date, b.view_count,
            (select count(*) from comment c where c.board_id = b.board_id and c.del_yn = 'N') as comment_cnt
        from board b
        where b.member_id = #{memberId}
        <if test="category != null and category != ''">
            and b.category_idx = #{category}
        </if>
        order by b.reg_date desc
        limit #{start}, #{limit}
    </select>

    <select id="countByMemberId" resultType="int">
        select count(*) from board where member_id = #{memberId}
        <if test="category != null and category != ''">
            and category_idx = #{category}
        </if>
    </select>
</mapper>